@model IEnumerable<DogGo.Models.Walker>

@{
    ViewData["Title"] = "Index";
}

<h1>Walker Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeighborhoodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="height:200px">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeighborhoodId)
            </td>
            <td>
                <div style="width: 7em;height:7em; padding: 1em 0;">
                    <img src="@item.ImageUrl" alt="avatar" style="        width: 100%;
        max-height: 100%;
        border-radius: 50%;
        box-shadow: rgb(128, 128, 128) 10px 10px 10px" />
                </div>
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
